@media (max-width:640px) {
	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

}

@media (min-width:641px) {
	.container {
		width: 100%;
		height: 75%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

.container h3 {
	color: #262626;
	font-size: 17px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 4px;
}

.small {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #666;
}

.container table {
	border: solid 1px gray;
	margin: auto;
}

.container td,
.container th {
	border: solid 1px gray;
	text-align: center;
}

.go-corner {
	float: right;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 32px;
	height: 32px;
	overflow: hidden;
	top: 0;
	right: 0;
	background-color: #002E2B;
	border-radius: 0px 4px 0px 32px;
}

.go-arrow {
	margin-top: -4px;
	margin-right: -4px;
	color: white;
	font-family: courier, sans;
}

.whitecard {
	display: block;
	top: 0px;
	max-width: 262px;
	background-color: #f2f8f9;
	border-radius: 4px;
	padding: 32px 24px;
	margin: 12px;
	text-decoration: none;
	overflow: hidden;
	border: 1px solid #f2f8f9;
	height: 400px;
	cursor: pointer;
}

.whitecard .go-corner {
	opacity: 0.7;
}

.whitecard:hover {
	border: 1px solid #002E2B;
	box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
	z-index: 500;
}

.whitecard:hover p {
	color: #002E2B;
}

.whitecard:hover .go-corner {
	transition: opactiy 0.3s linear;
	opacity: 1;
}

.transparentcards {
	display: block;
	top: 0px;
	max-width: 262px;
	background-color: transparent;
	border-radius: 4px;
	padding: 32px 24px;
	margin: 12px;
	text-decoration: none;
	overflow: hidden;
	height: 400px;
	cursor: pointer;
}

.transparentcards h3 {
    color: whitesmoke;
}