.banner {
  width: 80%;
  background-image: url("../images/Banner.png");
  background-repeat: no-repeat;
  margin: auto;
}

@media (min-width:641px) {
  .banner {
    background-size: 100% 200px;
    height: 200px;
  }
}

@media (max-width:640px) {
  .banner {
    background-size: 250px 100px;
    height: 100px;
  }
}

/** 
* Menu 
**/

@font-face {
  font-family: icon-font;
  src: url(../fonts/icon-font.eot);
  src: url(../fonts/icon-font.eot?#iefix) format('eot'), url(../fonts/icon-font.woff) format('woff'), url(../fonts/icon-font.ttf) format('truetype'), url(../fonts/icon-font.svg#icon-font) format('svg')
}


.nav .nav-submenu>a:after,
.nav-button:before,
.nav-close:before {
  font-family: icon-font;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  vertical-align: top
}

.nav-button,
.nav-close {
  position: fixed;
  top: 0;
  width: 2.2rem;
  height: 4.4rem;
  overflow: hidden;
  z-index: 902;
  cursor: pointer;
  text-decoration: none;
  line-height: 4.4rem;
  background: #002E2B;
  color: #94a69d;
  float: right;
}

.nav-button:before,
.nav-close:before {
  display: block;
  text-align: center
}

.nav-button {
  display: block;
  right: 1rem;
  font-size: 1.7rem
}

.nav-button:before {
  content: "\E003"
}

.nav-close {
  display: none;
  right: 4rem;
  font-size: 1.9rem
}

.nav-close:before {
  content: "\E002"
}

.nav {
  padding-top: 4.4rem;
  line-height: 2.4rem;
  background: #002E2B;
  color: #ffffff;
  margin: auto;
  width: 75%;
}

.nav ul {
  display: block;
  position: relative;
  zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 0 0 6px 6px;
  background: #002E2B
}

.nav ul ul {
  background: #015550
}

.nav li {
  border-top: 1px solid #d7fef6;
  cursor: pointer
}

.nav li.nav-active>a,
.nav li:hover>a {
  color: #ffffff;
  background: #4c9e9e
}

.nav .nav-submenu>ul {
  margin-left: 10px
}

.nav .nav-submenu>a {
  padding-right: 30px !important
}

.nav a,
.nav a:active,
.nav a:hover,
.nav a:visited {
  border-radius: 6px;
  padding: 0 20px 1px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  position: relative
}

.nav .nav-submenu>a:after {
  position: absolute;
  display: block;
  right: 10px;
  top: 1px;
  content: "\E005"
}

@media (min-width:641px) {
  body {
    padding: 0 !important
  }

  .nav-button {
    display: none
  }

  .nav {
    padding: 0 !important;
    display: block;
    position: relative;
    bottom: auto;
    overflow: visible;
    border-radius: 25%;
  }

  .nav>ul>li {
    border-top: none;
    display: inline-block
  }

  .nav li>ul {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75)
  }

  .nav li {
    position: relative;
    white-space: nowrap
  }

  .nav ul {
    display: block
  }

  .nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 901
  }

  .nav-responsive-css .nav li:hover>ul {
    display: block
  }
}

@media (max-width:640px) {

  .nav-responsive-css .nav-button:hover+.nav,
  .nav-responsive-css .nav-button:hover+.nav+.nav-close,
  .nav-responsive-css .nav:hover,
  .nav-responsive-css .nav:hover+.nav-close {
    display: block
  }

  .nav {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
    overflow-x: hidden;
    overflow-y: auto;
  }
}