.gameBoard {
  align-items: center;
  text-align: center;
  color: white;
}

#gamecontainer { 
  width: 100%;
  margin:auto; 
}

.gameBoard ul { 
  padding: 0;  
  margin: auto;
}
  
.gameBoard img { 
    width: 100%;
    height: 100%;
  }

  #gamecontainer li {
    padding: 0;
    float: left;
    margin: 10px;
    list-style: none;
    outline: solid;
  }

  @media (max-width:640px) {

    .gameBoard #container { 
      width: 100%;
      margin:auto; 
    }

    #gamecontainer li {
      width: 8svh;
      height: 8svh;
    }
  
  }
  
  @media (min-width:641px) {
    #gamecontainer li {
      width: 10svh;
      height: 10svh;
    }
  }