:root{
    --mylightgray: rgba(181, 181, 181, 0.696);
}

/* 3*3 Grid */
#box1, #box2, #box3, #box4, #box5,
#box6, #box7, #box8, #box9 {
    width: 70px;
    height: 52px;
    margin: auto;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-right: -5px;
}

#box1 {  
    border-top: unset;
    border-left: unset;
    border-right: 5px solid var(--mylightgray);
    border-bottom: 5px solid var(--mylightgray);
}

#box2 {    
    border-top: unset;
    border-right: 5px solid var(--mylightgray);
    border-bottom: 5px solid var(--mylightgray);
    border-left: 5px solid var(--mylightgray);
}

#box3 {  
    border-top: unset;
    border-left: 5px solid var(--mylightgray);
    border-right: unset;
    border-bottom: 5px solid var(--mylightgray);
}

#box4 {  
    border-top: 5px solid var(--mylightgray);
    border-left: unset;
    border-right: 5px solid var(--mylightgray);
    border-bottom: 5px solid var(--mylightgray);
}

#box5 {  
    border-top: 5px solid var(--mylightgray);
    border-left: 5px solid var(--mylightgray);
    border-right: 5px solid var(--mylightgray);
    border-bottom: 5px solid var(--mylightgray);
}

#box6 {  
    border-top: 5px solid var(--mylightgray);
    border-left: 5px solid var(--mylightgray);
    border-right: unset;
    border-bottom: 5px solid var(--mylightgray);
}

#box7 {  
    border-top: 5px solid var(--mylightgray);
    border-left: unset;
    border-right: 5px solid var(--mylightgray);
    border-bottom: unset;
}

#box8 {    
    border-top: 5px solid var(--mylightgray);
    border-right: 5px solid var(--mylightgray);
    border-bottom: unset;
    border-left: 5px solid var(--mylightgray);
}

#box9 {  
    border-top: 5px solid var(--mylightgray);
    border-left: 5px solid var(--mylightgray);
    border-right: unset;
    border-bottom: unset;
}

/* Reset Button */
#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid #4c9e9e;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4c9e9e;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Player turn space */
#print {
    font-family: Verdana,Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
}

/* Main Container */
.gameBoard {
    text-align: center;
    margin: auto;
    padding: 70px 0;
    color: white;
}